* {
  box-sizing: border-box;
  font-family: Candara

}

body {
  background-color: maroon;
}

.column {
  float: left;
  padding: 10px;
  height: 88vh; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row{
  width: 100%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column.left {
	width: 30%;
        background-color: white;
        margin: 0;
}

.column.right {
    background-color: lightseagreen;
	width: 70%;
	overflow-y: scroll;
	display: flex;
	flex-direction: column;
	flex: 1;
}

.phoneContact {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


.button-contact {
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
    }
    /* set a hover effect for the button*/
.button-contact:hover {
        opacity: 0.8;
}

.contactList table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
}

.contactList td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
}

.contactList tr:nth-child(even) {
        background-color: #dddddd;
}

.success{
        color: #155724;
        background-color: #d4edda;
        border-color: #c3e6cb
}

.success hr{
        border-top-color:#b1dfbb
}

.error {
        color: #721c24;
        background-color: #f8d7da;
        border-color: #f5c6cb
}

.error hr{
        border-top-color: #f1b0b7
}

.alert{
        position: relative;
        padding: .75rem 1.25rem;
        margin-bottom: 1rem;
        border:1px solid transparent;
        border-radius:.25rem;
        text-align: center;
}


.left-button {
        width: 100%;
        height: 40px;
}

.chat_icon {
        background: url(../img/add.png) no-repeat left center;
}

.headerButton {
        cursor: pointer;
        font-size: 16px;  
        border: none;
        outline: none;
        color: white;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
}
      
.headerButton:focus,  .headerButton:hover{
        background-color: red;
}