* {
  box-sizing: border-box;
  font-family: Candara

}

body {
  background-color: maroon;
}

.column {
  float: left;
  padding: 10px;
  height: 88vh; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row{
  width: 100%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column.left {
	width: 30%;
        background-color: white;
        margin: 0; 
        padding: 0;
}

.column.right {
    background-color: lightseagreen;
	width: 70%;
}

.phoneContact {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


.button-contact {
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
    }
    /* set a hover effect for the button*/
.button-contact:hover {
        opacity: 0.8;
}

.contactList table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
}

.contactList td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
}

.contactList tr:nth-child(even) {
        background-color: #dddddd;
}

.success{
        color: #155724;
        background-color: #d4edda;
        border-color: #c3e6cb
}

.success hr{
        border-top-color:#b1dfbb
}

.error {
        color: #721c24;
        background-color: #f8d7da;
        border-color: #f5c6cb
}

.error hr{
        border-top-color: #f1b0b7
}

.alert{
        position: relative;
        padding: .75rem 1.25rem;
        margin-bottom: 1rem;
        border:1px solid transparent;
        border-radius:.25rem;
        text-align: center;
}


.left-button {
        width: 100%;
        height: 40px;
        cursor: pointer;
}

.chat_icon {
        background: url(../img/add.png) no-repeat left center;
}

.headerButton {
        cursor: pointer;
        font-size: 16px;  
        border: none;
        outline: none;
        color: white;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
}
      
.headerButton:focus,  .headerButton:hover{
        background-color: red;
}

.clickable-row:hover {
        background-color: #fc000065;
        cursor: pointer;
}

#chatTableMain, table {
        width: 100%;;
}

#chatBox {
        height: 90%;
        overflow-y: auto;
	display: flex;
	flex-direction: column;
        flex: 1;
        margin: 0;
}

#textBox {
        height: 10%;
        width: 100%;
}

#textBox textarea {
        height: 100%;
        width: 100%;
        font-size: large;
        border-radius: 20px;
        padding: 10px;
        border: 2px solid #721c24;
}



/* width */
::-webkit-scrollbar {
        width: 12px;
}
      
/* Track */
::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey; 
        border-radius: 10px;
}
       
/* Handle */
::-webkit-scrollbar-thumb {
        background: #6d605dd2; 
        border-radius: 10px;
}
      
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
        background: #554845d2; 
}

#chatsContainer, #groupsContainer {
        overflow-y: auto;
	display: flex;
	flex-direction: column;
        flex: 1;
        margin: 0;
}

.chatInstance, .groupInstance {
        border-style: groove;
        cursor: pointer;
        height: 4vh;
        font-size: large;
}

.chatInstance:hover {
        background-color:#c2bbbb;
}

.chatInstance span {
        float: right;
}

.groupInstance span {
        float: right;
}


.loadingchat {
        width: inherit;
        height: inherit;
        font-size: xx-large;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
}

.rightMessage {
        float: right;
        text-align: right;
        border-radius: 20px;
        padding: 10px;
        border: 2px solid #000000;
        background-color: ivory;
        max-width: 40%;
        word-wrap: break-word;
}

.leftMessage {
        float: left;
        text-align: left;
        border-radius: 20px;
        padding: 10px;
        border: 2px solid #686161;
        background-color: rgb(70, 68, 68);
        color: white;
        max-width: 40%;
        word-wrap: break-word;
}

.rightContainer {
        justify-content: flex-end;
}