    /*set border to the form*/
    * {
        font-family: Candara
    }

    body {
        background: url(../img/initial.jpg) no-repeat center center fixed;
    }
    form {
        border: 0px solid;
        background: inherit;
    }
    /*assign full width inputs*/

    input[type=text],
    input[type=password] {
        width: 60%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #694B04;
        box-sizing: border-box;
        background: white;
        text-align: center;
    }
    /*set a style for the buttons*/

    button {
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
    }
    /* set a hover effect for the button*/

    button:hover {
        opacity: 0.8;
    }
    /*set extra style for the cancel button*/

    .cancelbtn {
        width: auto;
        padding: 10px 18px;
        background-color: #f44336;
    }
    /*centre the display image inside the container*/

    .imgcontainer {
        text-align: center;
        margin: 24px 0 12px 0;
    }
    /*set image properties*/

    img.avatar {
        width: 40%;
        border-radius: 50%;
    }
    /*set padding to the container*/

    .container {
        padding: 16px;
        background: inherit;
        text-align: center;
    }
    /*set the forgot password text*/

    span.psw {
        float: right;
        padding-top: 16px;
    }
    /*set styles for span and cancel button on small screens*/

    @media screen and (max-width: 300px) {
        span.psw {
            display: block;
            float: none;
        }
        .cancelbtn {
            width: 100%;
        }
    }

    label {
        color: white;
    }

    p {
        color: white;
        text-align: center;
    }

    .success{
        color: white;
        background-color: #88B31B;
        border-color: #c3e6cb
    }

    .success hr{
        border-top-color:#b1dfbb
    }

    .error {
        color: white;
        background-color: #B35712;
        border-color: #f5c6cb
    }

    .error hr{
        border-top-color: #f1b0b7
    }

    .alert{
        padding: .75rem 1.25rem;
        margin-bottom: 1rem;
        border:1px solid transparent;
        border-radius:.25rem;
        text-align: center;
        font-size: 15px;
    }

    .container {
        text-align: center;
    }

    .titulo{
        text-align: center;
        background: inherit;
    }

    h1, h2 {
        background: inherit;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        filter: invert(1) grayscale(1) contrast(9) drop-shadow(.05em .05em white);
        text-align: center  ;
    }
    h1 {
        font-size: 60px;
    }

    h2 {
        font-size: 45px;
    }

    .container.signin {
        background: inherit;
    }
    p, a{
        background: inherit;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        filter: invert(1) grayscale(10) contrast(20) drop-shadow(.1em .1em black);
        text-align: center  ;
        font-size: 22px;
    }

    .form-control {

    }

    button {
        width: 60%;
        background-color: #B3820F;
        font-size: 15px;
    }