<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<title>DRAW CHAT</title>

<link rel="icon" href="../static/img/favicon.png" type="img/png">
<link rel="icon" href="/img/favicon.png" type="img/png">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="/webjars/jquery/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/webjars/sockjs-client/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/stomp.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<link rel="stylesheet" href="static/css/index.css" th:href="@{/css/index.css}" />
<link rel="stylesheet" href="../static/css/index.css" type="text/css" />
<link rel="stylesheet" href="../static/css/dropdown.css" th:href="@{/css/dropdown.css}" type="text/css" />
<link rel="stylesheet" href="../static/css/modal.css" th:href="@{/css/modal.css}" />

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<script src="../static/js/components/modal.js"></script>
<script src="../static/js/register.js"></script>
<script src="../static/js/components/contactsModal.js"></script>
<script src="../static/js/drawapp.js"></script>
<script src="../static/js/contacts.js"></script>
<script src="../static/js/chatCreator.js"></script>
<script src="../static/js/subscriptions/chats.js"></script>

<script src="/js/register.js"></script>
<script src="/js/components/modal.js"></script>
<script src="/js/components/contactsModal.js"></script>
<script src="/js/drawapp.js"></script>
<script src="/js/contacts.js"></script>
<script src="/js/chatCreator.js"></script>
<script src="/js/subscriptions/chats.js"></script>


<body>
    <div style="height: 8vh">
        <div class="navbar">
            <a class="main">DRAW CHAT</a>
            <a id="user">Conectando...</a>

            <button id="contacts" class="headerButton" onclick="contacts.addContact()">Contactos</button>
            <button id="myContacts" class="headerButton" onclick="contacts.seeContacts()">Mis contactos</button>


            <div class="dropdown">
                <button class="dropbtn" onclick="dropdown()">Ajustes
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content" id="myDropdown">
                    <a onclick="display()">Cuenta</a>
                    <a href="/login?logout">Cerrar sesión</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="column left">
            <button onclick="chatCreator.openModal()" class="left-button">
                <span class="chat_icon"></span>
                INICIAR UN CHAT
            </button>
        </div>

        <div class="column right">
            <div id="chatBox">

                Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem
                ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum

                Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem
                ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum

                Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem
                ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum

                Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem
                ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum

                Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem
                ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum

                Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem
                ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum

                Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem
                ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum

                Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem
                ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum

                Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem
                ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum

                Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem
                ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum

                Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem
                ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum

                Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem
                ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum

                Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem
                ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum

                Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem
                ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum

                Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem
                ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum

                Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem
                ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum

                Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem
                ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum

                Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem
                ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum

                Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem
                ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum

                Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem
                ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum

                Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem
                ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum

                Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem
                ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
            </div>
            <div id="textBox">
                <textarea id="mainTextArea" placeholder="Escribe un mensaje"></textarea>
            </div>
        </div>

    </div>


    <div id="myModal" class="modal">
        <div class="modal-content">
            <span id="closeConfig" class="close">&times;</span>
            <h1 class="contactsTitle">Ajustes</h1>
            <h5>Deje vacios los campos que no desea cambiar</h5>
            <input id="ajusteNombre" class="phoneContact" style="float:right" type="text"
                placeholder="Nuevo Nombre"></input>
            <input id="ajusteApellido" class="phoneContact" type="text" style="float:left"
                placeholder="Nuevo Apellido"></input>
            <input id="ajusteContraseña" class="phoneContact" type="password" placeholder="Nueva contraseña"></input>
            <button class="button-contact" onclick="drawapp.updateSettings()">Guardar ajustes</button>

            <div id="ajustesFail" class="alert error" role="alert" style="display: none">
                Cambios erroneos.
            </div>

            <div id="ajustesSuccess" class="alert success" role="alert" style="display: none">
                Ajustes guardados.
            </div>

        </div>
    </div>

    <div id="contactsModal" class="modal">
        <div class="modal-content">
            <span id="closeContacts" class="close">&times;</span>
            <h1 class="contactsTitle">Añadir Contacto</h1>
            <input id="newPhone" class="phoneContact" type="number" placeholder="Inserte el teléfono"></input>
            <button class="button-contact" onclick="drawapp.saveContact()">Añadir contacto</button>

            <div id="contactIncorrect" class="alert error" role="alert" style="display: none">
                Contecto erróneo.
            </div>

            <div id="contectSuccess" class="alert success" role="alert" style="display: none">
                Contacto añadido.
            </div>

        </div>
    </div>

    <div id="allContacts" class="modal">
        <div class="modal-content">
            <span id="closeSeeContacts" class="close">&times;</span>
            <h1 class="contactsTitle">Mis Contactos</h1>
            <h5 id="contactsLoad" style="text-align: center;">Conectando...</h5>
            <div id="contactList">
            </div>

        </div>
    </div>

    <div id="addChat" class="modal">
        <div class="modal-content">
            <span id="closeAddChat" class="close">&times;</span>
            <h1 class="addChatTitle">Crear un Chat - Escoge tu contacto</h1>
            <h5 id="addChatLoad" style="text-align: center;">Conectando...</h5>

            <div id="addChatTable">
                <table id="chatTableMain">
                </table>
            </div>

        </div>
    </div>


</body>

</html>