<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<title>DRAW CHAT</title>

<link rel="icon" href="../static/img/favicon.png" type="img/png">
<link rel="icon" href="/img/favicon.png" type="img/png">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="/webjars/jquery/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<link rel="stylesheet" href="static/css/index.css" th:href="@{/css/index.css}" />
<link rel="stylesheet" href="../static/css/index.css" type="text/css" />
<link rel="stylesheet" href="../static/css/dropdown.css" th:href="@{/css/dropdown.css}" type="text/css" />
<link rel="stylesheet" href="../static/css/modal.css" th:href="@{/css/modal.css}" />

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<script src="../static/js/components/modal.js"></script>
<script src="../static/js/register.js"></script>
<script src="../static/js/components/contactsModal.js"></script>
<script src="../static/js/drawapp.js"></script>
<script src="../static/js/contacts.js"></script>

<script src="/js/register.js"></script>
<script src="/js/components/modal.js"></script>
<script src="/js/components/contactsModal.js"></script>
<script src="/js/drawapp.js"></script>
<script src="/js/contacts.js"></script>


<body>
    <div style="height: 8vh">
        <div class="navbar">
            <a class="main">DRAW CHAT</a>
            <a id="user">Conectando...</a>
            <a id="contacts" onclick="contacts.addContact()">Contactos</a>
            <a id="myContacts" onclick="contacts.seeContacts()">Mis contactos</a>
            <div class="dropdown">
                <button class="dropbtn" onclick="dropdown()">Ajustes
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content" id="myDropdown">
                    <a onclick="display()">Cuenta</a>
                    <a href="/login?logout">Cerrar sesión</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="column left">
            HFFF
        </div>

        <div class="column right">
            FFF
        </div>

    </div>


    <div id="myModal" class="modal">
        <div class="modal-content">
            <span id="closeConfig" class="close">&times;</span>
            <p>Some text in the Modal..</p>
        </div>
    </div>

    <div id="contactsModal" class="modal">
        <div class="modal-content">
            <span id="closeContacts" class="close">&times;</span>
            <h1 class="contactsTitle">Añadir Contacto</h1>
            <input id="newPhone" class="phoneContact"  type="number" placeholder="Inserte el teléfono"></input>
            <button class="button-contact" onclick="drawapp.saveContact()">Añadir contacto</button>
        
        </div>
    </div>

    <div id="allContacts" class="modal">
        <div class="modal-content">
            <span id="closeSeeContacts" class="close">&times;</span>
            <h1 class="contactsTitle">Mis Contactos</h1>
            <div id="contactList" style="display: none;">
            </div>
        
        </div>
    </div>


</body>

</html>