<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Draw Chat Register</title>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="/js/register.js"></script>
    <link rel="stylesheet" href="static/css/login.css" th:href="@{/css/login.css}" />
</head>
<body>
    <form>
        <div class="container">
            <div class="titulo">
                <h1>Registro</h1>
                <p>Por favor llene todos los campos para crear una cuenta.</p>
            </div>
            <hr>

            <label for="name"><b>Nombre</b></label>
            <input type="text" placeholder="Escriba su nombre" name="name" id="name" required>

            <label for="lastName"><b>Apellido</b></label>
            <input type="text" placeholder="Escriba su apellido" name="lastName" id="lastName" required>

            <label for="phone"><b>Número telefónico</b></label>
            <input type="text" placeholder="Escriba su teléfono" name="phone" id="phone" required>

            <label for="password"><b>Contraseña</b></label>
            <input type="password" placeholder="Escriba su contraseña (mínimo 8 carácteres con mayúscula y números)" name="password" id="password" required>

            <hr>

            <button type="button" class="registerbtn" onclick="register.push()">Register</button>
        </div>

        <div class="container signin">
            <p>¿Ya tienes una cuenta? <a href="/login">Iniciar sesión</a>.</p>
        </div>
    </form>
</body>
</html>