<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" href="../static/img/favicon.png" type="img/png">
    <link rel="icon" href="/img/favicon.png" type="img/png">
    <title>Draw Chat Register</title>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="/js/register.js"></script>
    <link rel="stylesheet" href="static/css/login.css" th:href="@{/css/login.css}" />
</head>
<body>
    <form>
        <div class="container">
            <div class="titulo">
                <H1>Registro</H1>
                <h2>Por favor llene todos los campos para crear una cuenta.</h2>
            </div>
            <hr>

            <input type="text" placeholder="Escriba su nombre" name="name" id="name" required>

            <input type="text" placeholder="Escriba su apellido" name="lastName" id="lastName" required>

            <input type="text" placeholder="Escriba su teléfono" name="phone" id="phone" required>

            <input type="password" placeholder="Escriba su contraseña (mínimo 8 carácteres con mayúscula y números)" name="password" id="password" required>

            <hr>

            <button type="button" class="registerbtn" onclick="register.push()">Register</button>
        </div>
    </form>

    <div id="incorrect" class="alert error" role="alert" style="display: none">
        DATOS INCORRECTOS.
    </div>

    <div id="rsuccess" class="alert success" role="alert" style="display: none">
        CUENTA CREADA CON ÉXITO.
    </div>

    <div class="container signin">
        <p>¿Ya tienes una cuenta? <a href="/login">Iniciar sesión</a>.</p>
    </div>

</body>
</html>